<a href="https://colab.research.google.com/github/erikafreeman/Topic1/blob/main/Alpha.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



```
In order to run this code you must:
1. Copy the (this folder: Erika add link) into the main folder of your google drive
1. Enter "other" when prompted

```

In [2]:
def userpath(user):
    if user in 'ecf':
        userspecific = "/4-CareerWork/1-PhD"
        return userspecific 
    if user in 'other':
        userspecific = ""
        return userspecific 
    else:
        return (user + ' is is not a valid username. Try again. Initials, no caps.')

In [3]:
#ajt or ecf
user = input("Enter username: ")
user_path =  userpath(user)
general_gdrive = "/content/drive/MyDrive"
print('The user of this session is: ' + user)
print('We will connect you to this google drive location: ' + general_gdrive + user_path)

Enter username: ecf
The user of this session is: ecf
We will connect you to this google drive location: /content/drive/MyDrive/4-CareerWork/1-PhD

In [4]:
#general drive locations 
user_path =  userpath(user)
general_gdrive = "/content/drive/MyDrive"
folder_name = "/1-SoilGradient/"
path = general_gdrive + user_path + folder_name
r_lib = '1-Code/Rlib/library.tar.gz'
csv_from = '0-Raw/'
csv_to = '1-Processed/'

In [5]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd
import numpy as np
import seaborn as sns
import pylab as pl
import matplotlib.pyplot as plt

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
#Magic command interface for interactive work with R in ipython. 
'''
%R and %%R are the line and cell magics, respectively
https://rpy2.github.io/doc/latest/html/interactive.html
'''
%load_ext rpy2.ipython

In [7]:
#Point to zipped R packages(saved in another notebook)
#https://stackoverflow.com/questions/35497069/passing-ipython-variables-as-arguments-to-bash-commands
r_path = '"' + path + r_lib + '"' 
%cp $r_path . 
!tar xf library.tar.gz

tar: Removing leading `/' from member names

In [8]:
#Add packages to path
%%R
.libPaths('usr/local/lib/R/site-library/')

In [9]:
dir = path + '0-Data/'
data_dir = dir +  '1-Processed/01-Cleaned/'
whondrs_dir = dir + '3-CrossTabCollection/0-Raw/'
filename1 = '00-CleanData_original_normal.csv'
filename2 = 'FTICR_commat_rep.merged2_rar1_2022-01-19.csv'

In [109]:
url1 = 'https://raw.githubusercontent.com/erikafreeman/Topic1/main/4_gather.thresholds/FTICR_crosstable_rep.merged1_all_em.thres_2022-03-23.csv'
url2 = 'https://raw.githubusercontent.com/erikafreeman/Topic1/main/4_gather.thresholds/FTICR_crosstable_rep.merged2_all_em.thres_2022-03-23.csv'
url3 = 'https://raw.githubusercontent.com/erikafreeman/Topic1/main/4_gather.thresholds/FTICR_peaks_crosstable_rep.merged1_all_em.thres_2022-03-23.csv'
url4 = 'https://raw.githubusercontent.com/erikafreeman/Topic1/main/4_gather.thresholds/FTICR_peaks_crosstable_rep.merged2_all_em.thres_2022-03-23.csv'

pd.read_csv(url1, encoding = 'unicode_escape')

!wget https://github.com/erikafreeman/Topic1/raw/main/1_data.cleaning/output/peaks/peaks_original.zip
!wget https://github.com/erikafreeman/Topic1/raw/main/1_data.cleaning/output/peaks/peaks_rep.merged2.zip
!wget https://github.com/erikafreeman/Topic1/raw/main/1_data.cleaning/output/rep.merged1.zip
!wget https://github.com/erikafreeman/Topic1/raw/main/1_data.cleaning/output/rep.merged2.zip

--2022-03-30 09:44:35--  https://github.com/erikafreeman/Topic1/raw/main/1_data.cleaning/output/peaks/peaks_original.zip
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/erikafreeman/Topic1/main/1_data.cleaning/output/peaks/peaks_original.zip [following]
--2022-03-30 09:44:35--  https://raw.githubusercontent.com/erikafreeman/Topic1/main/1_data.cleaning/output/peaks/peaks_original.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.111.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 13173500 (13M) [application/zip]
Saving to: ‘peaks_original.zip.2’

peaks_original.zip. 100%[===================>]  12.56M  --.-KB/s    in 0.07s

2022-03-30 09:44:35 (179 MB/s) - ‘peaks_original.zip.2’ saved [13173500/13173500]

--2022-03-30 09:44:35--  https://github.com/erikafreeman/Topic1/raw/main/1_data.cleaning/output/peaks/peaks_rep.merged2.zip
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/erikafreeman/Topic1/main/1_data.cleaning/output/peaks/peaks_rep.merged2.zip [following]
--2022-03-30 09:44:36--  https://raw.githubusercontent.com/erikafreeman/Topic1/main/1_data.cleaning/output/peaks/peaks_rep.merged2.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.108.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2551884 (2.4M) [application/zip]
Saving to: ‘peaks_rep.merged2.zip.1’

peaks_rep.merged2.z 100%[===================>]   2.43M  --.-KB/s    in 0.03s

2022-03-30 09:44:36 (80.0 MB/s) - ‘peaks_rep.merged2.zip.1’ saved [2551884/2551884]

--2022-03-30 09:44:36--  https://github.com/erikafreeman/Topic1/raw/main/1_data.cleaning/output/rep.merged1.zip
Resolving github.com (github.com)... 140.82.121.3
Connecting to github.com (github.com)|140.82.121.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/erikafreeman/Topic1/main/1_data.cleaning/output/rep.merged1.zip [following]
--2022-03-30 09:44:37--  https://raw.githubusercontent.com/erikafreeman/Topic1/main/1_data.cleaning/output/rep.merged1.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.111.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 10168112 (9.7M) [application/zip]
Saving to: ‘rep.merged1.zip.1’

rep.merged1.zip.1   100%[===================>]   9.70M  54.4MB/s    in 0.2s

2022-03-30 09:44:37 (54.4 MB/s) - ‘rep.merged1.zip.1’ saved [10168112/10168112]

--2022-03-30 09:44:37--  https://github.com/erikafreeman/Topic1/raw/main/1_data.cleaning/output/rep.merged2.zip
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/erikafreeman/Topic1/main/1_data.cleaning/output/rep.merged2.zip [following]
--2022-03-30 09:44:37--  https://raw.githubusercontent.com/erikafreeman/Topic1/main/1_data.cleaning/output/rep.merged2.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.111.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 6936766 (6.6M) [application/zip]
Saving to: ‘rep.merged2.zip.1’

rep.merged2.zip.1   100%[===================>]   6.62M  --.-KB/s    in 0.1s

2022-03-30 09:44:38 (60.7 MB/s) - ‘rep.merged2.zip.1’ saved [6936766/6936766]

In [ ]:
!unzip /content/peaks_original.zip -d '/content/drive/My Drive/data'
!unzip /content/peaks_rep.merged2.zip -d '/content/drive/My Drive/data'
!unzip /content/rep.merged1.zip  -d '/content/drive/My Drive/data'
!unzip /content/rep.merged2.zip -d '/content/drive/My Drive/data'

Archive:  /content/peaks_original.zip
replace /content/drive/My Drive/data/FTICR_raw.peaks_commat_2022-01-18.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: Archive:  /content/peaks_rep.merged2.zip
replace /content/drive/My Drive/data/FTICR_peaks_commat_rep.merged2_2022-01-18.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: Archive:  /content/rep.merged1.zip
replace /content/drive/My Drive/data/FTICR_commat_rep.merged1_2022-01-18.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: Archive:  /content/rep.merged2.zip
replace /content/drive/My Drive/data/FTICR_commat_rep.merged2_2022-01-18.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [10]:
samples = pd.read_csv('/content/drive/My Drive/data/FTICR_commat_rep.merged2_rar2_2022-01-19.csv')

In [11]:
SedSamples            = samples[samples['ID'].str.contains("SED")] #93 rows × 8664 columns
WatSamples            = samples[samples['ID'].str.contains("SW")] #188 rows × 8664 columns

display(WatSamples)

,ID,C10H10O4S,C10H10O5,C10H10O5N2,C10H10O5N4,C10H10O5S,C10H10O6,C10H10O6N2,C10H10O6N4,C10H10O6S,...,C9H8O6,C9H8O6S,C9H8O7,C9H8O7S,C9H8O8,C9H8O9,C9H9O5N,C9H9O6N,C9H9O6NS,C9H9O7N
93,SW_S19S.0003,0,1,0,0,0,1,0,0,0,...,1,0,1,0,0,0,0,1,0,0
94,SW_S19S.0004,0,1,0,0,0,1,0,0,0,...,1,0,1,0,1,0,0,1,0,1
95,SW_S19S.0005,0,1,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,1,0,0
96,SW_S19S.0006,1,1,0,0,1,1,0,0,1,...,1,0,1,0,0,0,1,1,0,0
97,SW_S19S.0007,0,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,SW_S19S.0096,0,1,0,0,1,1,1,0,0,...,1,0,0,0,0,0,1,1,0,0
184,SW_S19S.0097,0,1,1,0,0,1,0,0,0,...,1,0,0,0,0,0,1,1,0,0
185,SW_S19S.0098,0,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,1,1,0,0
186,SW_S19S.0099,1,1,0,0,1,1,1,0,1,...,1,1,1,0,0,0,1,1,1,0
187,SW_S19S.0100,0,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,1,0,0,0

In [90]:
def SpeciesRichness(df, firstformula):
    filter_col = [col for col in df if col.startswith('C')]
    start = filter_col[0]
    df.loc[:,start:] = df.loc[:,start:].apply(lambda x: [1 if y > 0 else 0 for y in x])
    df['SpeciesRichness'] =df.sum(axis=1)
    return df

def SpeciesRichness_SET(df, firstformula):
    filter_col = [col for col in df if col.startswith('C')]
    start = filter_col[0]
    df.loc[:,start:] = df.loc[:,start:].apply(lambda x: [1 if y > 0 else 0 for y in x])
    df2 = df.sum(axis=0)
    df3 = pd.DataFrame(df2, columns =['Sums'])
    df3  = df3.iloc[1:]
    df3 = df3[df3.index.str.startswith("C")]
    pd.to_numeric(df3['Sums'])
    df4 = df3.apply(lambda x: [1 if y > 0 else 0 for y in x])
    SetSpeciesRichness = df4.sum()[0]
    return SetSpeciesRichness

In [87]:
SR_SED= SpeciesRichness(SedSamples, 'C10H10O4S')
SR_SW= SpeciesRichness(WatSamples, 'C10H10O4S')

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1884: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, val, pi)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [93]:
SRSed = SpeciesRichness_SET(SedSamples, 'C10H10O4S')
SRWat = SpeciesRichness_SET(WatSamples, 'C10H10O4S')

print(SRSed)
print(SRWat)

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1884: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, val, pi)

5919
6671

In [115]:
df = pd.read_csv(data_dir + filename1)
print(df.columns)

Index(['Unnamed: 0', 'formula_isotopefree', 'mz', 'C', 'H', 'O', 'N', 'S', 'P',
       'Cl', 'Na', 'C1B05', 'C1B15', 'C1B30', 'C1B60', 'C1F05', 'C1F15',
       'C1F30', 'C1F60', 'C1S05', 'C1S15', 'C1S30', 'C1S60', 'C1ST', 'C1T05',
       'C1T15', 'C1T30', 'C1T60', 'C2B05', 'C2B15', 'C2B30', 'C2B60', 'C2F05',
       'C2F15', 'C2F30', 'C2F60', 'C2S05', 'C2S15', 'C2S30', 'C2S60', 'C2ST',
       'C2T05', 'C2T15', 'C2T30', 'C2T60', 'H1B05', 'H1B15', 'H1B30', 'H1B60',
       'H1F05', 'H1F15', 'H1F30', 'H1F60', 'H1S05', 'H1S15', 'H1S30', 'H1S60',
       'H1ST', 'H1T05', 'H1T15', 'H1T30', 'H1T60', 'H2B05', 'H2B15', 'H2B30',
       'H2B60', 'H2F05', 'H2F15', 'H2F30', 'H2F60', 'H2S05', 'H2S15', 'H2S30',
       'H2S60', 'H2ST', 'H2T05', 'H2T15', 'H2T30', 'H2T60'],
      dtype='object')

In [116]:
df1 = df.copy()
df1.loc[:,'C1B05':] = df1.loc[:,'C1B05':].apply(lambda x: [1 if y > 0 else 0 for y in x])
SiteNamesList = ['C1', 'C2', 'H1', 'H2']
df1.set_index('formula_isotopefree', inplace=True)
df2 = df1.filter(regex='|'.join(SiteNamesList))
df1_transposed = df2.T 
df3 = df1_transposed.reset_index()
df3.rename(columns={"index": "Sample"}, inplace=True)


def WithSampleNameSplit(df):
    stacked_mol_sample = df['Sample'].str.split('(\d+)([A-Za-z]+)', n = 3, expand = True) 
    stacked_mol_sample['SiteName'] = stacked_mol_sample[0]+ stacked_mol_sample[1] 
    stacked_mol_names = stacked_mol_sample.rename(columns={2: 'Position', 3: 'Depth'})
    mol_final_clean= stacked_mol_names.drop([0, 1], axis=1) #624909 rows × 8 columns
    mol_final_clean['Depth'].replace({"": "ST"}, inplace=True) #replace blanks with ST #mol_final_clean['Depth'].unique()
    with_names = pd.concat([df, mol_final_clean], axis = 1) 
    return with_names

df4 = WithSampleNameSplit(df3)
display(df4)
df4['Depth']= df4['Depth'].astype('category')
df4['Depth']= df4['Depth'].cat.reorder_categories(['05', '15', '30', '60', 'ST'], ordered=True)
df4= df4.sort_values('Depth')

df4['Position']= df4['Position'].astype('category')
df4['Position']= df4['Position'].cat.reorder_categories(['S', 'B', 'F', 'T', 'ST'],  ordered=True)
df4= df4.sort_values('Position')

,Sample,C10H10N2O2,C10H10N2O3,C10H10N2O4,C10H10N2O5,C10H10O,C10H10O10,C10H10O4,C10H10O5,C10H10O5S,...,C9H9NO2,C9H9NO3,C9H9NO4,C9H9NO5,C9H9NO6,C9H9NO7,C9H9O10P,Position,Depth,SiteName
0,C1B05,1,1,1,1,1,1,1,1,0,...,1,1,1,1,1,1,1,B,05,C1
1,C1B15,1,1,1,1,1,1,1,1,0,...,1,1,1,1,1,0,1,B,15,C1
2,C1B30,1,1,1,1,1,1,1,1,0,...,1,1,1,1,1,0,0,B,30,C1
3,C1B60,1,1,1,1,1,0,1,1,0,...,1,1,1,1,1,0,0,B,60,C1
4,C1F05,1,1,1,1,1,1,1,1,0,...,1,1,1,1,1,1,1,F,05,C1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,H2ST,0,1,1,1,1,0,1,1,0,...,1,1,1,1,1,0,0,ST,ST,H2
64,H2T05,0,1,0,1,1,0,1,1,1,...,1,1,1,1,1,0,0,T,05,H2
65,H2T15,0,1,1,1,1,0,1,1,0,...,1,1,1,1,1,1,0,T,15,H2
66,H2T30,1,1,1,1,1,0,1,1,0,...,1,1,1,1,1,1,0,T,30,H2
67,H2T60,1,1,1,1,1,0,1,1,1,...,1,1,1,1,1,0,0,T,60,H2

In [117]:
df5 = df4.groupby(['SiteName', 'Depth']).sum()
df5.loc[:,'C10H10N2O2':] = df5.loc[:,'C10H10N2O2':].apply(lambda x: [1 if y > 0 else 0 for y in x])
df5['sum'] =df5.sum(axis=1)
df5['sum2'] = 1216/df5['sum'] * 100
display(df5)

print(1216/9327)

                C10H10N2O2  C10H10N2O3  C10H10N2O4  C10H10N2O5  C10H10O  \
SiteName Depth
C1       05              1           1           1           1        1
         15              1           1           1           1        1
         30              1           1           1           1        1
         60              1           1           1           1        1
         ST              1           1           1           1        1
C2       05              1           1           1           1        1
         15              1           1           1           1        1
         30              1           1           1           1        1
         60              1           1           1           1        1
         ST              0           1           1           1        1
H1       05              1           1           1           1        1
         15              1           1           1           1        1
         30              1           1           1           1        1
         60              1           1           1           1        1
         ST              0           1           1           1        1
H2       05              1           1           1           1        1
         15              1           1           1           1        1
         30              1           1           1           1        1
         60              1           1           1           1        1
         ST              0           1           1           1        1

                C10H10O10  C10H10O4  C10H10O5  C10H10O5S  C10H10O8  ...  \
SiteName Depth                                                      ...
C1       05             1         1         1          1         1  ...
         15             1         1         1          0         1  ...
         30             1         1         1          1         1  ...
         60             1         1         1          1         1  ...
         ST             0         1         1          0         1  ...
C2       05             1         1         1          0         1  ...
         15             1         1         1          0         1  ...
         30             1         1         1          1         1  ...
         60             0         1         1          1         1  ...
         ST             1         1         1          0         1  ...
H1       05             1         1         1          1         1  ...
         15             1         1         1          1         1  ...
         30             0         1         1          1         1  ...
         60             1         1         1          1         1  ...
         ST             0         1         1          0         1  ...
H2       05             1         1         1          1         1  ...
         15             1         1         1          0         1  ...
         30             1         1         1          0         1  ...
         60             0         1         1          1         1  ...
         ST             0         1         1          0         1  ...

                C9H9NO  C9H9NO2  C9H9NO3  C9H9NO4  C9H9NO5  C9H9NO6  C9H9NO7  \
SiteName Depth
C1       05          1        1        1        1        1        1        1
         15          1        1        1        1        1        1        1
         30          1        1        1        1        1        1        1
         60          1        1        1        1        1        1        0
         ST          0        1        1        1        1        1        1
C2       05          1        1        1        1        1        1        1
         15          1        1        1        1        1        1        0
         30          1        1        1        1        1        1        1
         60          1        1        1        1        1        1        0
         ST          0        1        1        1        1        1        1
H1       05          1        1        1        1        1        1        1
         15          1        1        1        1        1        1        1
         30          1        1        1        1        1        1        1
         60          1        1        1        1        1        1        1
         ST          0        1        1        1        1        0        0
H2       05          1        1        1        1        1        1        1
         15          1        1        1        1        1        1        1
         30          1        1        1        1        1        1        1
         60          1        1        1        1        1        1        1
         ST          0        1        1        1        1        1        0

                C9H9O10P   sum       sum2
SiteName Depth
C1       05            1  8560  14.205607
         15            1  8474  14.349776
         30            1  8257  14.726898
         60            1  8202  14.825652
         ST            0  5757  21.122112
C2       05            1  7490  16.234980
         15            1  8331  14.596087
         30            0  7452  16.317767
         60            1  7465  16.289350
         ST            1  6626  18.351947
H1       05            1  8425  14.433234
         15            1  8530  14.255569
         30            1  7352  16.539717
         60            0  7983  15.232369
         ST            0  4008  30.339321
H2       05            1  8525  14.263930
         15            1  8338  14.583833
         30            0  8092  15.027187
         60            0  7723  15.745177
         ST            0  6266  19.406320

[20 rows x 9329 columns]

0.13037418248096924